extends layout

block content
  h1= title
  
  a(href='/create/create_todo') Create New Task
  div.form_box
    form(method='POST')
        each todo in todo_list
          label
            input(id=todo.item type='checkbox' name='cbox' value=todo.item)
            | !{todo.item}
            | !{todo.content}
            button.btn.btn-default(type='submit') done
          br
        else
          h2 There are no item.

